/ThucHanh1/nbproject/private/
/ThucHanh1/build/
/BTL/nbproject/private/
/BTL/build/
/BTOOP/nbproject/private/
/BTOOP/build/
/run/nbproject/private/
/ThucHanhOOP/Bai1/nbproject/private/
/ThucHanhOOP/Bai1/build/
/ThucHanhOOP/Bai2/nbproject/private/
/ThucHanhOOP/Bai2/build/
/ThucHanhOOP/Bai3/nbproject/private/
/ThucHanhOOP/Bai3/build/
/SWING/JavaApplication14/nbproject/private/
/SWING/JavaApplication14/build/
/SWING/ConnectMySQL/target/
/SQL/ba1i/target/
/2012/bai1/target/
/SWING/tucode/target/
/SWING/QLSanpham/target/
/TH2/DAKH/target/
/SWING/DAKH/target/
/New Folder/DABV/target/
/SWING/QLSV/target/
/SWING/ontapSV/target/
/SWING/testdata/target/
/SWING/teestdata/target/
/SWING/otsv/target/
